[Desktop Entry]
Version=1.0
Type=Application
Name=RK-3568 QC Test
Comment=一鍵 QC 測試
Exec=sudo bash /home/user1/Desktop/rk-3568-test/run_qc.sh
Icon=utilities-system-monitor
Terminal=true
Categories=System;
